@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200&display=swap');

*{
  background-color: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

button{
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  padding: 10px 5px;;
  width: 150px;
}

header{
  align-items: center;
  justify-content: space-between;
}

header, header ul{
  display: flex;
}
header .logo{
  margin-left: 20px;
  line-height: 20px;
}

 header ul li{
  list-style: none;
  margin-right: 40px;
  padding: 2px;
}

a{
  position: relative;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0px;
}
a::before{
  content:"[";
  position: absolute;
  opacity: 0.6;
  top: 0;
  left:-8px;
  transform:scale(0);
}

a::after{
  content: "]";
  position: absolute;
  opacity: 0.6;
  top: 0;
  right:-8px;
  transform:scale(0);

}
a:hover::after, a:hover::before{
  transform: scale(1);
} 
.opening{
  position: relative;
  text-align: left;
  width: 90%;
  padding: 50px 20px;
  margin-right: 20px;
}
.opening h1{
  font-size: 80px;
  margin-bottom: 15px;


}

.opening p{
  width:45ch;
  font-weight: 500;
}
 .jumbo{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .jumbo p{
   font-size: 2em;
   width: 25ch;
   font-weight: bold;
 }

.first{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.first img{
  max-height: 400px;
  width: 500px;
  margin-right: 200px;
}

.first span{
  margin-left: 50px;
}
.first span p{
  width: 24ch;
}

.second{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.second span{
  margin-right: 50px;
}
.second span p{
  width: 24ch;
}
.second img{
  max-height: 400px;
  width: 300px;
  margin-left: 200px;
}


.third{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.third img{
  max-height: 400px;
  width: 400px;
  margin-right: 200px;
}

.third span{
  margin-left: 40px;
}
.third span p{
  width: 24ch;
}
.jumbo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
 }

 .jumbo2 p{
  font-size: 2em;
  width: 25ch;
  font-weight: bold;
  margin-bottom: 10px;
 }
 .jumbo2 button{
   margin-left: 70px;
 }

 .flyers{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.flyers .fly1{
 margin-right: 50px;
 padding: 50px;
}

.flyers .fly1 img, .flyers .fly2 img{
  width: 500px;
  max-height: 400px;
}

.fourth {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.fourth p{
  font-size: 2em;
  width: 25ch;
  font-weight: bold;
}

.fourth button{
  margin-left: 100px;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.banner span{
  margin: 60px;
  font-size: 2em;
  font-weight: 600;
}
