@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200&display=swap');

*{
  background-color: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
 /* ::-webkit-scrollbar{
  background-color: #000;
 }
 ::-webkit-scrollbar-thumb{
  background-color: #fff;
 }
 ::-webkit-scrollbar-button{
  background-color: #fff;
 } */

button{
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  padding: 10px 5px;;
  width: 150px;
}
.content p{
  width: 24ch;
}

header{
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

header, header ul{
  display: flex;
}


 header ul li{
  list-style: none;
  margin-right: 40px;
  padding: 2px;
}

a{
  position: relative;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0px;
}
a::before{
  content:"[";
  position: absolute;
  opacity: 0.6;
  top: 0;
  left:-8px;
  transform:scale(0);
}

a::after{
  content: "]";
  position: absolute;
  opacity: 0.6;
  top: 0;
  right:-8px;
  transform:scale(0);

}
a:hover::after, a:hover::before{
  transform: scale(1);
} 
.opening{
  text-align: left;
  width: 90%;
  padding: 50px 20px;
  margin-right: 20px;
}
.opening h1{
  font-size: 80px;
  margin-bottom: 15px;


}

.opening p{
  width:45ch;
  font-weight: 500;
}
 .jumbo{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .jumbo p{
   font-size: 2em;
   width: 25ch;
   font-weight: bold;
 }

.first, .second, .third{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
}

 img{
  max-height: 400px;
  width: 500px;
}


.jumbo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
 }

 .jumbo2 p{
  font-size: 2em;
  width: 25ch;
  font-weight: bold;
  margin-bottom: 10px;
 }

 .flyers{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.flyers .fly1{
 margin-right: 50px;
 padding: 50px;
}

.fourth {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.fourth p{
  font-size: 2em;
  width: 25ch;
  font-weight: bold;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.banner span{
  margin: 60px;
  font-size: 2em;
  font-weight: 600;
}
footer{
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .bottom, footer .contact{
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .bottom ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

footer .bottom ul li{
  list-style: none;
  margin-right: 150px;
}
footer .contact button{
  margin-right: 10px;
}
footer .social a{
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 480px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .opening h1{
    font-size: 60px;
  }
  nav{
    display: none;
  }
  header{
    width: 95vw;
    padding: 20px 5px;
  }
  .opening p{
    width: 100%;
  }
  .first, .third{
    flex-direction: column;
    width: 100vw;
    padding: 20px;
  }
  .second{
    flex-direction: column-reverse;
    width:100vw;
    padding: 20px
  }
  img{
    width:80%;
    height: 100%;
  }
  .jumbo p{
  font-size: 1em;
  }
  .jumbo2{
    width: 90vw;
  }
  .jumbo2 p{
    width: 90%;
    padding: 10px;
    font-size: 1em;
  }
  .flyers{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .fly1, .fly2{
    width: 90%;
  }
  .fourth{
    width: 90vw;
    padding: 20px;
  }
  .fourth span{
    width: 100%;
  }
  .fourth p{
    width: 80%;
  }
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer{
    width: 100vw;
    flex-direction: column;
  }
  footer .bottom{
    width: 100%;
  }
  footer .bottom ul{
    width: 90%;
  }
  footer .bottom ul li{
    margin-right: 20px;
  }
}